@charset "utf-8";
*{
	font-family:"宋体";
	font-size:14px;
	
	}
	
div{
	border:1px solid #999;
	}
.main{
	background:#eee;
	min-height:460px;
	overflow:auto;
	position:relative;
	padding:20px;
	margin:20px;
	}
	
.left{
	width:200px;
	height:120px;
	position:absolute;
	left:20px;
	top:20px;
	background:#FFF;
	}

.logo{
	width:80px;
	padding:20px;
	float:left;
	}
	
img{
	width:80px;
	float:left;
	margin-bottom:20px;
	}
	
.team_name{
	display:block;
	font-weight:bolder;
	text-align:center;
	padding:20px;
	line-height:2em;
	}
	
.mid{
	background:#FFF;
	margin:0px 160px 0px 240px;
	padding:20px;
	line-height:1.5em;
	}
	
p{
	text-indent:2em;
	}

.right{
	width:80px;
	height:380px;
	position:absolute;
	top:20px;
	right:20px;
	padding:20px;
	background:#FFF;
	overflow:hidden;
	}